/*  First create the desktop view using grid
    Then make the grid wrap the way you need when hitting the mobile pixel width
    After that create flex boxes for each section about me, projects, etc.
 */

/* Use flexbox for navbar (and footer later on) use grid for the rest of the site */
body {
    margin: 0;
    padding: 0;
  }

.navbar {
    display: flex;
    border: 2px solid #000;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20vh;
}

.navbar h1 {
    margin-bottom: 0;
}

.navbar-content {
    display: flex;

}

.navbar img {
    width: 200px;            
    height: 200px;
    border-radius: 50%;      
    object-fit: cover;       
    float: left;             
    margin-right: 20px;    
}


.main-grid {
    display: grid;
    grid-template-columns: 1fr 400px 200px 1fr;
}

.about {
    display: flex;
}

.projects {
    display: flex;
}

.work-experience {
    display: flex;
}

.contact {
    display: flex;
}

.skills {
    display: flex;
}

.education {
    display: flex;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none; 
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }

.btn:not(:last-child) {
margin-right: 10px;
}
  
.github-btn {
background-color: #333; 
color: white;
}

.linkedin-btn {
background-color: #0077b5; 
color: white;
}

.row {
display: flex;
flex-direction: row;
}

.btn-row {
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.column {
display: flex;
flex-direction: column;
}

@media (max-width: 500px) { /* Adjust breakpoint as needed */
    .navbar {
        padding: 5px; /* Reduce padding for smaller screens */
        height: 60vh;
    }

    .navbar .row {
        flex-direction: column; /* Stack elements vertically */
        align-items: center;   /* Center items horizontally */
    }

    .navbar .btn-row {
        justify-content: center;
 
    }

    .navbar img {
        width: 175px;          /* Smaller image size */
        height: 175px;
        margin: 0 0 10px 0;    /* Adjust margins for mobile */
    }

    .navbar .column {
        text-align: center;  /* Center text content */
    }

    .navbar h1 {
        font-size: 2em;
        margin-bottom: 0;
    }

    .navbar h3 {
        font-size: 1.2em;
    }
}


