body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #252f34;
  }

.main-grid {
    display: grid;
    /* border: 2px solid black; */
    color: white;
    grid-template-columns: 1fr minmax(500px, 2fr) minmax(250px, 1fr) 1fr;
    grid-template-rows: [top] auto [middle] auto [bottom];
    grid-template-areas: ". nav nav nav"
                         ". left-g right-g .";
}

.navbar {
    grid-area: 1/1/2/5;
    /* border: 2px solid #000; */
    background-color: #1e2021;
    flex-direction: row;
    padding: 0;
    width: 100%;
}

.navbar-content {
    display: flex;
    grid-area: nav;
    /* border: 2px solid #000; */
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-content h1 {
    margin-bottom: 0;
}

.navbar-content img {
    width: 175px;            
    height: 175px;
    border-radius: 50%;      
    object-fit: cover;       
    float: left;             
    margin-right: 20px;    
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none; 
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }

.btn:not(:last-child) {
    margin-right: 10px;
}
  
.github-btn {
    background-color: #333; 
    color: white;
}

.linkedin-btn {
    background-color: #0077b5; 
    color: white;
}

.row {
    display: flex;
    flex-direction: row;

}

.nav-row {
    display: flex;
    flex-direction: row;
}

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
}

.left-grid {
    display: grid;
    /* border: 2px solid black; */
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "about"
                         "projects"
                         "work";
    grid-row-gap: 20px;
    margin-right: 20px;
    margin-top: 20px;
    grid-area: left-g;
}

.header {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #333;
}

/* About Me */

.about {
    grid-area: about;
}

.about-body {
    align-items: center;
    padding: 20px;
    max-width: 800px;
    line-height: 1.6;
}

/* Projects */

.project {
    grid-area: projects;
}

.project-body {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 20px
}

.project-card {
    display: flex;
    flex: 1 1 100px;
    padding: 20px;
    overflow: hidden;
    border-bottom: 2px solid #333;
    column-gap: 20px;
}

.project-card-img {
    display: flex;
    align-items: center;
}

.project-card-img img {
    display: flex;
    max-width: 100%;
    height: auto;
}

.project-card-text {
    display: flex;
    flex-direction: column;
}

.project-card-text h3 {
    margin: 0;
}

.project-card-text a {
    color: white;
}

/* Work Experience */

.work {
    grid-area: work;
}

.work-body {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.work-body .row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5px;
}

.work-body h4{
    margin: 0;;
}

.work-body h3 {
    margin-bottom: 0;
}

.work-body p {
    margin-top: 0;
}

.work-body li {
    margin-bottom: 10px; /* Adjust the value as needed */
}


.right-grid {
    display: grid;
    /* border: 2px solid black; */
    grid-template-rows: 150px 600px 300px;
    grid-template-areas: "contact"
                         "skills"
                         "education";
    grid-row-gap: 20px;
    margin-top: 20px;
    grid-area: right-g;
}

/* Contact Me */
.contact {
    grid-area: contact;
    
}

.contact-body {
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 20px; */
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.contact-body .row {
    display: flex;
    align-items: center;
    padding: 10px;
}

.contact-body .row p,
.contact-body .row i {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

/* Skills */
.skills {
    grid-area: skills;
}

/* Education */

.education {
    grid-area: education;
}

.contact, .skills, .education, .work, .project, .about {
    /* border: 2px solid black; */
    background-color: #181a1b;
}

/* Tablet size */

@media (max-width: 850px) {
    .main-grid{
        grid-template-columns: 1fr minmax(250px, 8fr) 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: ". nav ."
                             ". left-g ."
                             ". right-g .";
    }
    .left-grid {
        margin-right: 0px;
    }
    .btn-row {
        margin-bottom: 20px;
    }
    .navbar-content img {
        align-self: center;
        width: 150px;
        height: 150px;
    }

}

/* Mobile size */

@media (max-width: 480px) {
    .main-grid {
        grid-template-columns: .5fr minmax(250px, 8fr) .5fr;
    }
    .navbar-content .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-content .column h1, .navbar-content .column h2 {
        text-align: center;
    }

    .navbar-content .column{
        justify-content: center;
        align-items: center;
    }

    .navbar-content .row img {
        order: -1; /* Move image to the top */
        width: 100px; /* Reduce image size for smaller screens */
        height: 100px;
        margin: 0 auto 10px; /* Center image and add margin for spacing */
    }

}